
  .brandlogo{
    background-color: red;
    /* margin-left: 10px;
    margin-right: 10px; */
  }
  
  .widthscreenset
  {
    /* width: 80vw; */

  }
  slick-slide slick-active slick-current
.triangleElement {
  /* width: 760px; */
  /* height: 500px; */
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, orange 50%, orange 80%);
}

/* styles/Carousel.module.css */
.slick-slide {
  display: flex;
  justify-content: center;
  position: relative;
  transition: transform 0.5s ease;
}

.slide img {
  width: 50% !important;
  height: auto;
  transition: opacity 0.5s ease;
}

.slide.previous {
  transform: scale(0.7);
  opacity: 0.5;
}

.slide.active {
  z-index: 2;
}

.slide:not(.active) {
  z-index: 1;
}

/* components/SparkleButton.module.css */

.sparkleButton {
  position: relative;
  padding: 4px 10px;
  border: none;
  border-radius: 8px;
  background: #fff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: background 0.3s ease;
  width: 15rem;
  padding-left: 6;
}

/* .sparkleButton:hover {
  background: #005bb5;
} */

/* .sparkleButton:focus {
  outline: none;
}

.sparkle {
  position: absolute;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(102,0,102,0.5) 100%, rgba(0,0,255,0.2) 0%);
  top: -50%;
  left: -50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.sparkleButton .sparkle {
  opacity: 1;
  animation: sparkle 1.5s infinite;
}

@keyframes sparkle {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
} */

