.carouselcontainer {
    width: 100%;
    margin: auto;
    position: relative;
  }
  .carouselcontainer .slick-active {
    width: 30%;
  }
  .brandslide img {
    width: 100%;
    border-radius: 8px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }

  .slick-center .brand-slide img {
    opacity: 1;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
  }

  .slick-dots {
    bottom: 10px;
  }
  .slick-active {
    width: 20%;
  }