body {
  font-family: "Poppins", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  position: relative !important;
  transition: transform 0.5s ease !important;
}

.slick-track {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  transition: transform 0.5s ease !important;
}
body {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 400;
  background-color: #ffffff;
  color: #86898e;
  min-height: 100vh;
  width: 100%;

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.roboto-text {
  font-family: "Roboto", sans-serif;
}

.poppins-text {
  font-family: "Poppins", sans-serif;
}
/*  */
.triangleElement {
  background: linear-gradient(
      to bottom right,
      #fff 100%,
      #fff 100%,
      #660066 100%,
      #660066 80%
    ),
    url("/bggg.webp");
  background-size: cover;
  background-position: center;
  /* height: 100vh; Adjust as needed */
  background-blend-mode: overlay; /* Optional: Adjusts how the gradient blends with the image */
}
.slider-container {
  position: relative;
}

.slider-container .slick-slide {
  position: relative;
}

.slider-container .slick-slide:hover .overlay-content {
  opacity: 1;
}

.slider-container .slick-list {
  display: flex;
  align-items: center;
  height: 480px;
}
