body {
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.shimmer {
  color: white;
 
  
  /* Shimmer effect */
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  
  animation: shimmer 2.0s infinite;
}

@keyframes shimmer {
  100% {
    mask-position: left;
    -webkit-mask-position: left;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grotesk-text {
  font-family: "Space Grotesk", sans-serif;
  font-display: swap;
}
/* styles/globals.css */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 9999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards; /* Adjust the duration as needed */
}
.blog-carousal .slick-track
{
  /* background-color: red; */
  display: flex;
  gap:8px
}
.blog-carousal  .slick-arrow::before {
  color: black;
}